.idea/

# Unity
unity/[Ll]ibrary/
unity/[Tt]emp/
unity/[Oo]bj/
unity/[Bb]uild/
unity/[Bb]uilds/
unity/[Ll]ogs/
unity/[Uu]ser[Ss]ettings/
unity/[Mm]emoryCaptures/
!unity/[Aa]ssets/**/*.meta
unity/[Aa]ssets/Plugins/Editor/JetBrains*
unity/.vs/
unity/.gradle/
unity/ExportedObj/
unity/.consulo/
unity/*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
unity/sysinfo.txt
*.apk
*.unitypackage
unity/crashlytics-build.properties

